<div ng-controller="playersController">
  <h1>Calculate your teams for the day!</h1>
  <br>
  <div id="newPlayerForm">
    <form>
      <h3>Add New Player</h3>
      <div class="form-group row">
        <label>Player Name: </label>
        <br>
        <div class="col-sm-4">
          <input type='text' ng-model='player.name' length="2" required="">
        </div>
      </div>
      <div class="form-group row">
        <label>Player Position: </label>
        <br>
        <div id="positions" class="col-sm-4">
          <select required name="repeatSelect" id="repeatSelect" ng-model="player.position">
            <option value="" disabled="">Choose a Position</option>
            <option ng-repeat="position in positions" placeholder="utility" value="{{ position }}">{{ position }}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
	    <label>Player Salary: </label>
  	    <div id="salary" class="input-group col-sm-4">
  	      <div class="input-group-addon">$</div>
  	      <input ng-model="player.salary" type="number" class="form-control" placeholder="Amount" length="2" required="">
  	    </div>
	    </div>
	    <input type='submit' value="Add Player" class="btn btn-primary" ng-click='createPlayer()' required="">
	  </form>
  </div>
  <br>
  <h2>You have {{ opCount }} players to use!</h2>
  <table class="table table-fixedheader scroll">
  	<thead>
  	  <tr>
  	  	<th>Name</th>
  	  	<th>Position</th>
  	  	<th>Salary</th>
  	  </tr>
  	</thead>
    <tbody ng-repeat="player in openPlayers | orderBy:'name'">
      <tr>
      	<td ng-bind='player.name'></td>
        <td ng-bind='player.position'></td>
        <td>
          <form id="salaryForm">
            $ <input type='number' ng-model='player.salary' placeholder="Amount">
            <input type='submit' class="btn btn-primary" value='Add Player' ng-click='addSalary(player)'>
          </form>
        </td>
        <td>
          <input type='submit' value='Delete' class="btn btn-danger" ng-click='deletePlayer(player)'>
        </td>
        <td>
          <input type='submit' value='Edit' class="btn btn-warning" ng-click="editPlayer(player._id)">
        </td>
    	 </tr>
  	</tbody>
  </table>
  <div id="todaysPlayers">
    <h3>Today's Players</h3>
    <h4>You have {{ spCount }} players on your team!</h4>
    <br>
    <p ng-repeat="player in selectedPlayers | orderBy:'name'">
      {{ player.name }}, {{ player.position }}, ${{ player.salary }}
      <input type='submit' value='Remove' class="btn btn-xs btn-danger" ng-click='removePlayer(player)'>
    </p>
    <br>
    <form id="salaryMin">
      <div id="salaryMinInput" class="input-group col-sm-2">
        <div class="input-group-addon">$</div>
        <input ng-model="salaryMin" type="number" class="form-control" placeholder="Salary Min" length="2" required="">
      </div>
    </form>
    <input type='submit' value='Clear All' class="btn btn-danger" ng-click='clearPlayers()'>
    <input type="submit" class="btn btn-primary" value="Create Teams" ng-click=createTeams()>
  </div>
</div>
