<div ng-controller="teamsController">
	<h1>Here are your teams for today!</h1>
	<br>
	<h2>There are {{ teams.length }} total teams!</h2>
	<br>
	<div ng-repeat="team in teams | orderBy: '-totalSalary'">
		<h3> Team {{ $index + 1 }} </h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>
						Position
					</th>
					<th>
						Player Name
					</th>
					<th>
						Player Salary
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(id, player) in team" ng-if="id != 'totalSalary' && id != 'allPlayers'">
					<td>
						{{ id }}
					</td>
					<td>
						{{ player.name }}
					</td>
					<td>
						${{ player.salary }}
					</td>
				</tr>
				<tr>
					<td>
					</td>
					<td>
						<strong>Total Salary:</strong>
					</td>
					<td>
						<strong>${{ team.totalSalary }}</strong>
					</td>
				</tr>
		  </tbody>
	  </table>
		<br>
	</div>
</div>
